body {
    font-family: "Nunito", sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
    color: rgb(73, 71, 71);
    background-color: #f8f9fa;
}
.text-birthstone,
.navbar-brand{
    font-family: 'Birthstone', cursive;
    font-size: 30px;
}
.navbar{
    background-color: white;
}
.site-banner{
    padding-top: 120px;
}
.site-banner,
.projects{
    background: url("/images/home-shape.png");
    background-size: cover;
    position: relative;
    background-position: center center;
}
.main-header .navbar .navbar-nav .nav-item .active{
    color:  rgb(236, 17, 236);
    -webkit-background-clip: text;
    background-clip: text;
}
.main-header .navbar .navbar-nav .nav-item a:hover{
    color:  rgb(236, 17, 236);
}

.site-banner a{
    text-decoration: none;
}
.site-banner h3{
    padding-top: 20%;
}
.site-banner h3::after{
    content: "";
    height: 2px;
    width: 20vw;
    background: purple;
    display: inline-block;
    margin-left: 2%;
    transform: translateY(-10px);
}
.btn-purple{
    background-color: purple;
}
.text-purple{
    color: purple;
}
.text-black{
    color: rgb(73, 71, 71);
}

.details{
    /* background-color:#f8f9fa ; */
    padding:10px 10px;
}
.blogs{
    /* background-color: white; */
    padding-bottom: 50px;
}
.blogs a,.projects a{
    color: purple;
}
.projects,.contact-me{
    margin-top: 140px;
}
.footer-section{
    background-color: rgb(44, 2, 44);
}
.dark-mode {
    background-color: rgb(14, 14, 14);
    color: #fdfdfd;
}
.text-dark-mode{
    background-color: rgb(14, 14, 14);
}
